<h1> Olá, <%= @user.name%>!! </h1>

<h2> Bem vindo ao Comes&Bebes </h2>

<p class="main_content"> Para continuar seu cadastro, por favor, clique no botão abaixo:</p>
<%= link_to "Confirme sua conta", 'localhost:3000/confirmate/?key='+@user.validation_token %>

<p> Caso não tenha sido você que solicitou, por favor, ignore esse email </p>

<h2> Atenciosamente, </h2>
<h3> Equipe Comes&Bebes </h3>
