<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      h1{
        color: #7a247d;
        text_weight: bold;
        font_size: 24px;
      }
      h2{
        text_weight: bold;
        font_size: 16px;
      }
      h3{
        color: #7a247d;
        text_weight: bold;
        font_size: 24px;
      }
      p{
        font_size: 16px;        
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
